<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties url="file:///D:\Projects\IdeaProjects\java\mybatis\mybatis-003-configuration\src\main\resources\jdbc.properties"/>
    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>
    <typeAliases>
        <!--起别名 不区分大小写-->
        <!--<typeAlias type="com.powernode.mybatis.com.powernode.pojo.com.powernode.mybatis.Car" alias="Car"/>-->
        <!--不写默认为Car-->
        <!--<typeAlias type="com.powernode.mybatis.com.powernode.pojo.com.powernode.mybatis.Car"/>-->
        <!--<typeAlias type="com.powernode.mybatis.pojo.Log" alias="log"/>-->
        <!--包里全部为类简名，不区分大小写-->
        <package name="com.powernode.mybatis.pojo"/>
    </typeAliases>

    <environments default="mybatisDB">
        <environment id="mybatisDB">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
                <property name="poolMaximumActiveConnections" value="10"/>
                <property name="poolTimeToWait" value="2000"/>
                <property name="poolMaximumCheckoutTime" value="10000"/>
                <property name="poolMaximumIdleConnections" value="5"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--<mapper resource="CarMapper.xml"/>-->
        <!--<mapper resource="LogMapper.xml"/>-->
        <!--<mapper url="绝对路径 CarMapper.xml"/>-->

        <!--必须保证carMapper.xml和carMapper接口在同一包下,名字也一样-->
        <!--java和resources 在target中在一个目录-->
        <!--<mapper class="com.powernode.mapper.com.powernode.mybatis.CarMapper"/>-->

        <!--必须保证carMapper.xml和carMapper接口在同一包下,名字也一样-->
        <package name="com.powernode.mybatis.mapper"/>
    </mappers>
</configuration>