<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.mybatis.mapper.CarMapper">

    <insert id="insert">
        insert into t_car values (null,#{carNo},#{brand},#{guidePrice},#{produceTime},#{carType})
    </insert>

    <update id="update">
        update t_car set car_no=#{carNo},brand=#{brand},guide_price=#{guidePrice},produce_time=#{produceTime},car_type=#{carType} where id=#{id}

    </update>
    
    <delete id="deleteById">
        delete from t_car where id = #{id}
    </delete>

    <select id="selectById" resultType="com.powernode.mybatis.com.powernode.mybatis.pojo.Car">
        select  from t_car where id=#{id}
    </select>

    <select id="selectAll" resultType="com.powernode.mybatis.com.powernode.mybatis.pojo.Car">
        select id,car_no as carNo,brand,guide_Price as guidePrice,produce_Time as produceTime,car_type as carType from t_car
    </select>
</mapper>