<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.mybatis.test.MybatisIntroductionTest">
   <insert id="insertCar">
        insert into t_car(id,car_no,brand,guide_price,produce_time,car_type)
        values(null,'1003','丰田','30.0','2010-11-11','燃油车')
   </insert>
</mapper>