<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--MyBatis核心配置文件，标签的顺序
        properties?,settings?,typeAliases?,typeHandlers?,
        objectFactory?,objectWrapperFactory?,reflectorFactory?,
        plugins?,environments?,databaseIdProvider?,mappers?-->
    <!--将资源引入配置文件-->
    <properties resource="jdbc.properties"/>
    <!--设置某个类型的别名-->
    <typeAliases>
        <!-- <typeAlias type="com.modq.mybatis.pojo.User" alias="user"></typeAlias>-->
        <!-- 以包为单位，将包下所有的类型设置默认的类型别名且不区分大小写-->
        <package name="com.modq.mybatis.pojo"/>
    </typeAliases>
    <!--设置连接数据库的环境-->
    <!--environments:配置多个连接数据库的环境
     属性:
         default:设置默认使用的环境的id
-->
    <environments default="development">
        <!--id唯一标识-->
        <environment id="development">
            <!--2、transactionManager：设置事务管理方式
            属性：type="JDBC/MANAGED"
            JDBC: 在当前环境中，执行sql时，使用的是jdbc原生的事务管理方式，需要手动的提交和回滚事务
            MANAGED：被管理，例如Spring-->
            <transactionManager type="JDBC"/>
            <!--        dataSource：配置数据源
                属性"
                    type：设置数据源的类型
                    type="POOLED/UNPOOLED/JNDI"
                    POOLED:表示使用数据库连接池缓存数据库连接
                    UNPOOLED：表示不实用数据库连接池
                    JNDI：表示使用上下文中的数据源
           -->
            <dataSource type="POOLED">
                <!--设置连接数据库驱动-->
                <property name="driver" value="${jdbc.driver}"/>
                <!--设置连接数据库地址-->
                <property name="url" value="${jdbc.url}"/>
                <!--设置用户名密码-->
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>

    </environments>

    <!--引入映射文件-->
    <mappers>
        <!-- <mapper resource="mappers/UserMapper.xml"/>-->
        <!--引入映射文件-->
        <package name="com.modq.mybatis.mapper"/>
    </mappers>
</configuration>
